{% extends layout %}
<!--  -->
{% block content %}
<section class="hero is-fullheight is-medium is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <article class="card ">
                    <div class="card-content ">
                        <h1 class="title ">
                            {{appname}}
                        </h1>
                        <article class="message is-success">
                            <div class="message-header">
                                <p>Амжилттай</p>
                            </div>
                            <div class="message-body">
                                Нууц үг амжилттай солигдлоо. <br> Та нэвтрэх хүсэлтай бол <a href="login">энэ дээр</a> дарна уу
                            </div>
                        </article>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}